.navbar {
    background-color: #262225;
    padding: 20px;
    height: 80px;
    padding-top: 50px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: #ECEBE9;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px; 
    font-size: 26px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: #4C8891;
}

.nav-links li a.active {
    background-color: #4C8891;
}